body {

    /* Backgrounds */
    --background-primary: {
            {
            colors.surface.default.hex
        }
    }

    ;

    --background-primary-alt: {
            {
            colors.surface_container_low.default.hex
        }
    }

    ;

    --background-secondary: {
            {
            colors.surface_container.default.hex
        }
    }

    ;

    --background-secondary-alt: {
            {
            colors.surface_container_high.default.hex
        }
    }

    ;

    --background-modifier-border: {
            {
            colors.outline_variant.default.hex
        }
    }

    ;

    /* Text */
    --text-normal: {
            {
            colors.on_surface.default.hex
        }
    }

    ;

    --text-muted: {
            {
            colors.on_surface_variant.default.hex
        }
    }

    ;

    --text-accent: {
            {
            colors.primary.default.hex
        }
    }

    ;

    --text-accent-hover: {
            {
            colors.primary_container.default.hex
        }
    }

    ;

    --text-faint: {
            {
            colors.outline.default.hex
        }
    }

    ;

    /* Interactive */
    --interactive-normal: {
            {
            colors.surface_container.default.hex
        }
    }

    ;

    --interactive-hover: {
            {
            colors.surface_container_high.default.hex
        }
    }

    ;

    --interactive-accent: {
            {
            colors.primary.default.hex
        }
    }

    ;

    --interactive-accent-hover: {
            {
            colors.primary_container.default.hex
        }
    }

    ;

    /* Inputs */
    --background-modifier-form-field: {
            {
            colors.surface_container_high.default.hex
        }
    }

    ;

    --input-shadow: {
            {
            colors.shadow.default.hex
        }
    }

    ;

    --input-shadow-hover: {
            {
            colors.shadow.default.hex
        }
    }

    ;
}

.theme-dark,
.theme-light {
    --color-red: {
            {
            colors.error.default.hex
        }
    }

    ;

    --color-green: {
            {
            colors.tertiary.default.hex
        }
    }

    ;

    --color-orange: {
            {
            colors.secondary.default.hex
        }
    }

    ;

    --color-yellow: {
            {
            colors.secondary_container.default.hex
        }
    }

    ;

    --color-cyan: {
            {
            colors.primary.default.hex
        }
    }

    ;

    --color-blue: {
            {
            colors.primary.default.hex
        }
    }

    ;

    --color-purple: {
            {
            colors.tertiary.default.hex
        }
    }

    ;

    --color-pink: {
            {
            colors.tertiary.default.hex
        }
    }

    ;
}